[Unit]
Description=Geth Ethereum Node
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/geth --maxpeers 25 --cache 128 -rpc -rpcport 8545 -rpcapi 'eth,web3'
User=geth
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
