<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>King of the Ether Throne</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <style>
  body {
    background-color: #FFF7F0;
  }
  .content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
  }
  th, td {
    border: 1px solid black;
    padding: 2px;
  }
  .badMood {
    background-color: #ffcccc;
  }
  .busyMood {
    background-color: #cccccc;
  }
  .goodMood {
    background-color: #ccffcc;
  }
  </style>
</head>
<body>
  <div class="content-wrapper">
    <div class="content">
      {{readmeHtml | safe}}
    </div>
  </div>
  <script type="text/javascript" src="web3.js?v={{cacheBuster}}"></script>
  <script type="text/javascript" src="nunjucks-slim.js?v={{cacheBuster}}"></script>
  <script type="text/javascript" src="templates.js?v={{cacheBuster}}"></script>
  <script type="text/javascript" src="interface.js?v={{cacheBuster}}"></script>
  <script type="text/javascript">
  <!--
  var interfaceConfig = {
    contractAbi: {{contractAbiJson | safe}},
    contractAddress: '{{contractAddress}}'
  };
  KingOfTheEtherDapp.init(interfaceConfig);
  // -->
  </script>
</body>
</html>