<form id="interfaceForm" class="pure-form pure-form-aligned">
  <fieldset>
    <legend>Become the Monarch</legend>
    <div class="pure-control-group">
    <label for="currentClaimPriceInput">Current Claim Price</label>
    <input id="currentClaimPriceInput" type="text" value="12.5 ether" readonly>
    </div>
    <div class="pure-control-group">
    <label>&nbsp;</label>
    <button type="submit" id="claimThroneButton" class="pure-button pure-button-primary">Claim Throne</button>
    </div>
  </fieldset>
  <fieldset>
    <legend>View Hall of Great Monarchs</legend>
    <div class="pure-control-group">
      <label for="monarchNumberSelect">Number</label>
      <select id="monarchNumberSelect">
        <option>-- Choose Monarch --</option>
        <option>Current</option>
        <option>2</option>
        <option>1</option>
      </select>
    </div>
    <div class="pure-control-group">
      <label for="monarchName">Name</label>
      <input id="monarchName" type="text" value="blah-de-blah" readonly>
    </div>
    <div class="pure-control-group">
      <label for="monarchClaimPrice">Claim Price Paid</label>
      <input id="monarchClaimPrice" type="text" value="10 ether" readonly>
    </div>
  </fieldset>
</form>
