<div class="{{mood}}Mood">
<form id="interfaceForm" class="pure-form pure-form-aligned">
  <fieldset>
    <legend>Status</legend>
    <div>{{statusText}}</div>
    <div class="pure-control-group">
      <label>&nbsp;</label>
      <button id="refreshInterfaceButton" class="pure-button" onclick="KingOfTheEtherDapp.reloadClicked()">Reload</button>
    </div>
  </fieldset>
  <fieldset>
    <legend>Become the Monarch</legend>
    <div class="pure-control-group">
      <label for="currentClaimPriceInput">Current Claim Price</label>
      <input id="currentClaimPriceInput" type="text" value="{{currentClaimPrice}}" readonly>
    </div>
    <div class="pure-control-group">
      <label for="yourNameInput">Your Regal Name</label>
      <input id="yourNameInput" type="text" value="{{yourName}}">
    </div>
    <div class="pure-control-group">
      <label>&nbsp;</label>
      <button type="submit" id="claimThroneButton" class="pure-button pure-button-primary" onclick="KingOfTheEtherDapp.claimThroneClicked()">Claim Throne</button>
    </div>
  </fieldset>
  <fieldset>
    <legend>View Hall of Great Monarchs</legend>
    <div class="pure-control-group">
      <label for="monarchNumberSelect">Number</label>
      <select id="monarchNumberSelect" onchange="KingOfTheEtherDapp.selectedMonarchChanged()">
        <option value="NA">-- Choose Monarch --</option>
        {% for monarchNumber in monarchNumbers %}
        <option value="{{monarchNumber}}" {% if monarchNumber == selectedMonarchNumber %}selected{% endif %}>{{monarchNumber}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="pure-control-group">
      <label for="monarchFate">Fate</label>
      <input id="monarchFate" type="text" value="{{hallMonarchFate}}" readonly>
    </div>
    <div class="pure-control-group">
      <label for="monarchName">Name</label>
      <input id="monarchName" type="text" value="{{hallMonarchName}}" readonly>
    </div>
    <div class="pure-control-group">
      <label for="monarchAddress">Address</label>
      <input id="monarchAddress" type="text" value="{{hallMonarchAddress}}" readonly>
    </div>
    <div class="pure-control-group">
      <label for="monarchClaimPrice">Claim Price Paid</label>
      <input id="monarchClaimPrice" type="text" value="{{hallMonarchClaimPrice}}" readonly>
    </div>
  </fieldset>
</form>
</div>